<!--header.html-->
<div class='well'>
    {% comment %} <h1 style="font-family:微軟正黑體;">Welcome to my Django Test</h1> {% endcomment %}
    <div class="tittle-flex">
        <h1>
          <a href="./index.html"
            ><img src="./static/標題圖.png" height="56" width="186"
          /></a>
        </h1>

        <nav>
          <ul class="menu">
            <li>
              <div class="tittle-list">
                <a href="./Profile.html">
                  <img src="./static/user.jpg" height="32" width="32" /><br/>
                  <a>Profile</a>
                  <div class="u-line"></div>
                </a>
              </div>
            </li>
            <li>
              <div class="tittle-list">
                <a href="./Planned.html">
                  <img
                    src="./static/list-bullet.jpg"
                    height="32"
                    width="32"
                  /><br />
                  <a>Planned</a>
                  <div class="u-line"></div>
                </a>
              </div>
            </li>
            <li>
              <div class="tittle-list">
                <a href="./Anime.html">
                  <img src="./static/film.jpg" height="32" width="32" /><br />
                  <a>Anime</a>
                  <div class="u-line"></div>
                </a>
              </div>
            </li>
            <li>
              <div class="tittle-list">
                <a href="./Game.html">
                  <img
                    src="./static/headphones.jpg"
                    height="32"
                    width="32"
                  /><br />
                  <a>Game</a>
                  <div class="u-line"></div>
                </a>
              </div>
            </li>
            <li>
              <div class="tittle-list">
                <a href="./Coding.html">
                  <img src="./static/text.jpg" height="32" width="32" /><br />
                  <a>Coding</a>
                  <div class="u-line"></div>
                </a>
              </div>
            </li>
            <li>
              <div class="tittle-list">
                <a href="./Contact.html">
                  <img
                    src="./static/email.jpg"
                    height="32"
                    width="32"
                  /><br />
                  <a>Contact</a>
                  <div class="u-line"></div>
                </a>
              </div>
            </li>
          </ul>
        </nav>

        <div class="se">
          <a href="https://www.google.com/" target="_blank"
            ><img src="./static/chrome.ico" height="32" width="32" />
            <br />搜尋引擎</a
          >
        </div>
    </div>
</div>