<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Django Test</title>
</head>
<body>
    <h1>Welcome to my Django Test</h1>
    <hr>
    {% for post in posts %}
        <p style='font-family:微軟正黑體;font-size:16pt;font-weight:bold'>
            <a href='/post/{{post.subtitle}}'>
                {{ post.title }}
            </a>
        </p>
        {% comment %} <p style='font-family:微軟正黑體;font-size:10pt;letter-spaceing:1pt'>
            {{ post.body }}
        </p> {% endcomment %}
    {% endfor %}
    <hr>
    <h3>現在時刻:{{  now  }}</h3>
</body>
</html>